# Librerías necesarias para el programa de detección de plagio

# Procesamiento de texto y generación de n-gramas
nltk

# Visualización de grafos
networkx

# Visualización de gráficos y heatmaps
matplotlib
seaborn

# Manejo de datos tabulares
pandas

Para instalar las dependencias, ejecuta el siguiente comando en tu terminal:

pip install -r requirements.txt